---
const authors = Astro.locals.starlightRecipes?.authors ?? [];
const authorNames = authors
  .map((author) => author.name)
  .toSorted((a, b) => a.localeCompare(b, Astro.currentLocale));

const authorList = new Intl.ListFormat(Astro.currentLocale, {
  style: "long",
  type: "conjunction",
}).format(authorNames);
---

{
  authorNames.length > 0 && (
    <p>
      <b>Authors:</b>&nbsp;{authorList}
    </p>
  )
}
