---
interface Props {
  property: string;
  description: string;
  link?: string;
}

const { property, description, link } = Astro.props;

// Use the provided link, or fallback to the documentation schema fragment
const finalLink = link || `/guides/frontmatter-schema#${property}`;
---

<p class="doc-item">
  <span>{description}</span>
  <span class="divider">—</span>
  <small>
    Generated from <code><a href={finalLink}>{property}</a></code>.
  </small>
</p>

<style>
  .doc-item {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .divider {
    color: var(--sl-color-gray-4);
  }
  small {
    color: var(--sl-color-gray-3);
  }
</style>
